#REMEMBER TO CHANGE ON PRODUCTION!!!!
SECRET_KEY = 'django-insecure--(47x6f9ah3wi=x-wuryrzl^&$kr+di_j#1a@-#%!(k+i6fbcd'

#REMEMBER TO CHANGE THIS
PROJECT_ABSOLUTE_PATH=/home/cimatec-academy/git-repositories/RoboticsAcademy

#REMEMBER TO CHANGE THIS
#CLONE THIS REPOSITORY IN YOUR MACHINE: https://github.com/Brazilian-Institute-of-Robotics/RoboticsInfrastructure.git
#PUT THE ABSOLUTE PATH OF REPOSITORY IN THIS VARIABLE
INFRASTRUCTURE_ABSOLUTE_PATH=/home/cimatec-academy/git-repositories/RoboticsAcademy

#REMEMBER TO CHANGE THIS
#CLONE AGAIN THIS PROJECT REPOSITORY, BUT USE THE BRANCH "GH-PAGES-DOCKER"
#PUT THE ABSOLUTE PATH OF REPOSITORY IN THIS VARIABLE
GUIDE_PAGES_ABSOLUTE_PATH=/home/rafaelpalma/git-repositories/cimatec-exercise-guide-pages

DB_NAME=academy_db
DB_USER=user-dev
DB_PASSWORD=robotics-academy-dev
DB_HOST=my-postgres
DB_PORT=5432

#PORT USED TO THIS SERVER
SERVER_PORT=7164

#INDICATE WHETHER PAGE GUIDE CONTAINER IS EXECUTED
#ON SAME MACHINE AS THE CONTAINER OF THIS SERVER.
#IF TRUE, EXERCISE_GUIDE_URL IS NOT USED
#AND COMPONENTS CREATE GUIDE URL DINAMICALLY.
IS_GUIDE_CONTAINER_SAME_MACHINE=true

#URL + /exercises
#IS NOT NEED A VALUE CASE IS_GUIDE_CONTAINER_SAME_MACHINE=true
EXERCISE_GUIDE_URL=http://127.0.0.1:4000/exercises

#HOW MANY HOURS USER CONTAINER CAN BE ALIVE
USER_CONTAINER_EXPIRATION=8

#HOW MANY SECONDS USER'S SESSION ENDURES
USER_SESSION_EXPIRATION=7200 # 2 HOURS

#HOW MANY MINUTES USER CAN BE INACTIVE
INACTIVE_TIMEOUT=30

#EMAIL RECOVERY CONFIGURATION VARIABLE
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_HOST_USER=barretto.smtp@gmail.com
EMAIL_HOST_PASSWORD=fiye titx nqrm qltq
PASSWORD_RESET_TIMEOUT=1800 #SECONDS (30MIN)

#INDICATES IF APP IS ON PRODUCTION
#RECEIVES True or False
PRODUCTION=False

#DOCKER COMPOSE PROJECT NAME
COMPOSE_PROJECT_NAME=cimatec-academy