DB_NAME=academy_db
DB_USER=user-dev
DB_PASSWORD=robotics-academy-dev
DB_HOST=my-postgres
DB_PORT=5432

#PORT USED TO THIS SERVER
SERVER_PORT=7164

#INDICATE WHETHER PAGE GUIDE CONTAINER IS EXECUTED
#ON SAME MACHINE AS THE CONTAINER OF THIS SERVER.
#IF TRUE, EXERCISE_GUIDE_URL IS NOT USER 
#AND COMPONENTS CREATE GUIDE URL DINAMICALLY.
IS_GUIDE_CONTAINER_SAME_MACHINE=true

#URL + /exercises
#IS NOT NEED A VALUE CASE IS_GUIDE_CONTAINER_SAME_MACHINE=true
EXERCISE_GUIDE_URL=http://127.0.0.1:4000/exercises

#HOW MANY HOURS USER CONTAINER CAN BE ALIVE
USER_CONTAINER_EXPIRATION=8

#HOW MANY SECONDS USER'S SESSION ENDURES
USER_SESSION_EXPIRATION=7200 # 2 HOURS

#HOW MANY MINUTES USER CAN BE INACTIVE
INACTIVE_TIMEOUT=30

#INDICATES IF APP IS ON PRODUCTION
#RECEIVES True or False
PRODUCTION=False